footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

footer ul{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

footer ul li{
  padding-left:1rem
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #888;
}
